@import "tailwindcss/base";
@layer base {
    :root {
        --color-light: rgba(255, 255, 255);
        --color-off-light: rgb(244, 235, 235);
        --color-dark: rgb(0, 15, 44);
        --color-pri: #956af8;
        --color-sec: #2a50ca;
        --color-acc: #f5b536;
      
        --text-3xs: clamp(0.7rem, 1vw, 1.6rem);
        --text-2xs: clamp(0.8rem, 1vw, 1.8rem);
        --text-xs: clamp(1rem, 1.2vw, 4rem);
        --text-sm: clamp(1.1rem, 1.3vw, 7rem);
        --text-md: clamp(1.4rem, 2vw, 3rem);
        --text-lg: clamp(2rem, 3.4vw, 3.8rem);
        --text-xl: clamp(2.8rem, 3.5vw, 5.5rem);
        --text-2xl: clamp(4rem, 4.6vw, 10rem);
        --text-3xl: clamp(7rem, 11vw, 24rem);
      
        --off-screen: 250vw;
        --list-style: circle;
      }
      
        html {
          line-height: 1.6;
          scroll-behavior: smooth;
        }
        
        body {
          background-color: var(--color-light);
        }
      
        a {
          text-decoration: none;
        }
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";