// reusable components

@use "variables" as v;
@use "mixins" as m;

.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(v.$dark, 0.6);
    z-index: 1;
    visibility: hidden;
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease;

    &.open {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

//pointer
.pointer {
    width: 2px;
    height: 10vh;
    position: absolute;
    left: 50%;
}

//btn
.btn {
    color: var(--light);
    font-weight: 700;
    background-color: rgba(v.$primary, 0.8);
    text-transform: uppercase;
    padding: var(--xs) var(--md);
    margin: var(--sm) 0 0;
    border-radius: var(--rad-lg);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(v.$primary, 0.9);
}

.btn--icon {
    visibility: hidden;
    opacity: 0;
    transition: all 150ms ease-in-out;
}

.btn:hover .btn--icon {
    visibility: visible;
    opacity: 1;
    transform: translateX(0.5rem);
}

//modal toggle 
.page__toggle {
    @include m.flex();
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(v.$primary, 0.3);
    width: 3rem;
    height: 2rem;
    padding: var(--xs);
    border-radius: var(--rad-sm);
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        background-color: rgba(v.$primary, 0.6);
    }

    @include m.media(tablet) {
        top: 2rem;
        right: 2rem;
    }
}

//burger nav
.nav__burger {
    @include m.flex($dir: column, $jus: center);
    background-color: rgba(v.$primary, 0.8);
    width: 3rem;
    height: 2rem;
    padding: var(--xs);
    border-radius: var(--rad-sm);
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &--span {
        position: relative;
    }
    
    &--span,
    &--span:after,
    &--span:before{
        height: 0.15rem;
        width: 80%;
        background-color: var(--light);
        border-radius: var(--rad-sm);
        pointer-events: none;
    }

    &--span:after,
    &--span:before {
        @include m.pseudo($content: "",);
    }

    &--span:before {
        top: -0.4rem;
    }

    &--span:after {
        top: 0.4rem;
    }

    @include m.media(tablet) {
        display: none;
    }
}

//case studies 
.case {
    padding: var(--lg) var(--sm);
    border-bottom: 1px solid rgba(v.$dark, 0.1);

    @include m.media(tablet) {
        padding: var(--lg) var(--md);
    }

    &-header {
        position: relative;
        font-size: var(--text-case-sm);
        height: 20vh;
        text-transform: capitalize;
    }

    &-header__background {
        font-size: var(--text-case-lg);
        color: rgba(v.$dark, 0.1);
        text-transform: capitalize;
        width: 200vw;
        transform: translateX(15%);
    }

    &-header__primary {
        @include m.absolute;
        border-left: 6px solid var(--primary);
        padding-left: var(--sm);
        font-size: var(--text-case-sm);
        font-weight: 700;
    }

    &__info {
        background-color: var(--light);
        padding: var(--md);
        border-radius: var(--rad-lg);
        font-size: var(--text-reg);

        @include m.media(desktop-wide) {
            padding: 15rem;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: var(--rad-sm);
        box-shadow: 0 0 5px rgba(v.$dark, 0.5);
    }

    &__image-caption {
        text-align: center;
        font-size: 0.9em;
        margin: var(--sm) 0;
        font-style: italic;
    }

    &__description {
        font-size: 1.2em;
        text-transform: none;;
    }

    &__sub-header {
        display: block;
        font-size: 1.6em;
        text-transform: uppercase;
        color: var(--tertiary);
        padding-left: var(--sm);
        margin: var(--sm) 0;
        border-left: 2px solid var(--tertiary);

        @include m.media(desktop-wide) {
            padding-left: var(--lg);
        }
    }

    &__stack-items {
        padding-left: var(--sm);
        font-size: 1.2em;
        list-style: circle;
        text-transform: capitalize;
    }

    &__stack-logo {
        height: 1rem;
        width: 1rem;
        @include m.media(desktop-wide) {
            height: 2rem;
            width: 2rem;
        }
    }

    &__btn {
        margin-top: var(--xs);

        @include m.media(desktop-wide) {
            margin-top: var(--lg);
        }
    }
}

// each in depth case study of projects
.case-studies {
    height: 90vh;
    width: 0%;
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -45vh;
    border-top-left-radius: var(--rad-sm);
    border-bottom-left-radius: var(--rad-sm);
    z-index: 1;
    background-color: var(--light);
    
    &.open {
        width: 90%;
        visibility: visible;
    }
    
    .case-study {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: var(--xs) var(--sm) var(--lg);
        background-color: rgba(v.$light, 1);
        border-top-left-radius: var(--rad-sm);
        border-bottom-left-radius: var(--rad-sm);
        transition: all 200ms ease-in-out;
        overflow-y: scroll;

        @include m.media(tablet) {
            padding: var(--md) var(--lg) var(--lg);
        }

        .case-toggle {
            background-color: rgba(v.$primary, 0.6);
        }
        .case-toggle:hover {
            background-color: rgba(v.$primary, 0.9);
        }
        
        &.open {
            height: 90vh;
            opacity: 1;
            visibility: visible;
        }

        &__header {
            font-size: var(--text-links);
            text-transform: capitalize;
            border-bottom: 1px solid rgba(v.$dark, 0.1);
        }

        &__content {
            margin-top: var(--md);
            @include m.flex($dir: column, $jus: flex-start, $align: flex-start);

            @include m.media(tablet-wide) {
                @include m.flex($dir: row, $jus: space-between, $align: flex-start);
            }
        }

        &__items {
            display: flex;
            flex: 0 1 auto;

            @include m.media(tablet-wide) {
                flex-direction: column;
            }
        }

        &__item {
            margin-bottom: var(--md);
        }

        &__btn {
            display: block;
            height: 100%;
            background-color: rgba(v.$primary, 0.3);
            color: var(--dark);
            font-size: var(--text-reg);
            text-align: center;
            text-transform: capitalize;
            padding: var(--xs) var(--sm);
            margin: 0 var(--xs);
            border-radius: var(--rad-sm);
            cursor: pointer;

            @include m.media(tablet-wide) {
                width: 20vw;
            }

            &:hover {
                background-color: rgba(v.$primary, 0.6);
            }
        }

        &__info-wrapper {
            flex: 1 1 auto;
            padding-top: var(--sm);
            width: 100%;

            @include m.media(tablet-wide) {
                padding-left: var(--md);
                padding-top: 0;
            }
        }

        .case__stack-items {
            list-style: none;
            margin-bottom: var(--md);
            @include m.flex($jus: space-evenly);

            .case__stack-logo {
                    height: 2rem;
                    width: 2rem;
            }
        }

        &__stack,
        &__outcome,
        &__objectives {
            display: none;
            visibility: hidden;
            background-color: rgba(v.$light, 1);
            opacity: 0;
            font-size: var(--text-reg);

            &.show{
                display: block;
                visibility: visible;
                opacity: 1;
            }
        }

        &__tab-header {
            text-transform: capitalize;
            font-size: 1.2em;
            padding-left: var(--sm);
            margin: var(--md) 0;
            border-left: 5px solid rgba(v.$primary, 0.6);
        }

        &__outcome-items {
            list-style: circle;
            padding-left: var(--sm);
            padding-bottom: var(--md);
        }

        &__images-wrapper {
            @include m.flex($jus: space-evenly, $align: center);
            margin-top: var(--md);
            padding-bottom: var(--sm);
        }

        &__images {
            border-radius: var(--rad-sm);
            box-shadow: 0 0 5px rgba(v.$dark, 0.5);
        }

        &__images-caption {
            display: block;
            font-size: var(0.8em);
            font-style: italic;
            text-align: center;
        }

        
    }
}

//social links
.social__items {
    @include m.flex($dir: column, $jus: space-evenly);

    .social__link {
        font-size: var(--text-icon);
    }
    
    .social__icon {
        transform: scale(1);
        transition: transform 100ms ease;
    }
    
    .social__icon:hover {
        transform: scale(1.1);
    }
}