// default styling for html elements

@use "variables" as v;
@use "mixins" as m;

:root {
  --font: #{v.$font-primary};
  --white: #{v.$white};
  --light: #{v.$light};
  --dark: #{v.$dark};
  --primary: #{v.$primary};
  --secondary: #{v.$secondary};
  --tertiary: #{v.$tertiary};
  --text-hero: #{v.$text-hero};
  --text-case-lg: #{v.$text-case-lg};
  --text-case-sm: #{v.$text-case-sm};
  --text-icon: #{v.$text-icon};
  --text-links: #{v.$text-links};
  --text-nav-icon: #{v.$text-nav-icon};
  --text-reg: #{v.$text-reg};
  --text-sm: #{v.$text-sm};
  --xs: #{v.$xs};
  --sm: #{v.$sm};
  --md: #{v.$md};
  --lg: #{v.$lg};
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  //font-family: "Titillium Web", sans-serif;
  font-family: var(--font);
  overflow-x: hidden;
  overflow-y: auto;
  position: static;
  width: 100%;
}

body.open {
  overflow-y: scroll;
  position: fixed;
}

body.hidden {
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

ul {
  list-style: none;
}

p, div, span {
  line-height: 1.7;
}

input,
textarea,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

