// styling for the page

@use "variables" as v;
@use "mixins" as m;

.scroll-div {
    height: 0.2rem;
    background: linear-gradient(to right, var(--primary) 30%, var(--secondary));
}

.nav {
    @include m.flex($jus: space-between, $align: flex-start);
    padding: var(--sm);
    background-color: var(--dark);

    @include m.media(tablet) {
        padding: var(--md);
        align-items: center;
    }

    &__logo {
        height: 2rem;
        width: 2rem;
        background-color: var(--primary);
        padding: var(--xs);
        transform: scale(1);
        transition: transform 100ms ease;
    }
    
    &__logo:hover {
        transform: scale(1.01);
    }

    &__burger {
        background-color: rgba(v.$primary, 0.3);

        &:hover {
            background-color: rgba(v.$primary, 0.6);
        }
    }

    &__items {
        display: none;
        @include m.media(tablet) {
            @include m.flex($jus: space-between);
        }
    }

    &__item-link {
        background-color: rgba(v.$primary, 0.7);
        color: var(--dark);
        padding: var(--xs) var(--md);
        text-transform: capitalize;
        border-radius: var(--rad-lg);
        transition: all 150ms ease-in-out;
    }

    &__item-link:hover {
        background-color: rgba(v.$primary, 0.9);
    }

    &__item:nth-of-type(2) {
        margin-left: var(--sm);
    }
}

.sidebar {
    @include m.absolute();
    @include m.flex($dir: column);
    top: 0.2rem;
    width: 0;
    height: calc(100vh - 0.2rem);
    opacity: 0;
    visibility: none;
    background: linear-gradient(to bottom, var(--primary) 30%, var(--secondary) 100%);
    transition: opacity 100ms ease-in-out,
                width 200ms ease-out;
      

    &.open {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    &__burger {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: rgba(v.$dark, 0.3);

        &:hover {
            background-color: rgba(v.$dark, 0.6);
        }
    }
    
    &__items {
      margin-top: var(--md);
    }

    &__item {
        background-color: rgba(v.$dark, 0.6);
        text-align: center;
        text-transform: capitalize;
        margin-top: var(--md);
        border-radius: var(--rad-lg);
        transition: all 150ms ease;
    }

    &__item:hover {
        background-color: rgba(v.$dark, 0.5);
    }

    &__link {
        font-size: var(--text-links);
        color: var(--light);
        padding: var(--sm) var(--md);
        display: block;
        width: 100%;
        height: 100%;
    }

    .social__items {
        @include m.flex($jus: space-evenly);
        width: 20%;
    }

    .social__icon {
        color: var(--dark);
    }
}

.hero {
    height: calc(100vh - 0.2rem - 70.333px);
    width: 100%;
    color: var(--light);
    padding: var(--sm) var(--md);
    background-color: var(--dark);

    @include m.media(tablet) {
        height: calc(100vh - 0.2rem - 100.333px);
    }

    &__wrapper {
        @include m.flex($dir: column, $align: flex-start, $jus: flex-end);
        width: 100%;
        height: 100%;
    }

    &__header {
        font-size: var(--text-hero);
        text-transform: uppercase;

        &--clr {
            font-size: 1.3em;
            color: var(--secondary);
            font-weight: 700;
        }

        &--sm {
            font-size: 0.7em;
        }
    }

    &__btn--icon {
        visibility: hidden;
        opacity: 0;
        transition: all 150ms ease-in-out;
    }

    &__btn:hover .hero__btn--icon {
        visibility: visible;
        opacity: 1;
        transform: translateX(0.5rem);
    }
}

.cases {
    padding: var(--md) 0;
    margin: 0 var(--md);
    border-left: 1px solid rgba(v.$dark, 0.1);

    @include m.media(tablet) {
        padding: var(--lg);
    }

    &__header {
        font-size: var(--text-hero);
        text-transform: uppercase;
    }
}

/* contact form */
.contact,
.about {
    height: calc(50vh - 0.1rem);
    width: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 200ms ease-in-out;

    &.open {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
}

/* about section */
.about {
    position: absolute;
    top: 0.2rem;
    left: 0;
    background: var(--primary);

    &__toggle {
        @include m.flex();
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: rgba(v.$dark, 0.3);
        width: 3rem;
        height: 2rem;
        padding: var(--xs);
        border-radius: var(--rad-sm);
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
}
  
.contact {
    position: absolute;
    top: calc(50vh - 0.2rem);
    right: 0;
    background-color: var(--dark);
    }

/* footer */
.footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: var(--sm);

    &__info {
        font-size: var(--text-reg);
        text-transform: capitalize;
    }

    .social__items {
        @include m.flex($dir: column, $jus: space-evenly);
    }

    .social__link {
        color: var(--light);
    }
}
