// styling for the page

@use "variables" as v;
@use "mixins" as m;

.scroll-div {
    height: 0.2rem;
    background: linear-gradient(to right, var(--primary) 15%, var(--secondary));
}

.nav {
    @include m.flex($jus: space-between, $align: center);
    padding: var(--sm);
    z-index: 1;

    @include m.media(tablet-wide) {
        justify-content: flex-start;
        padding: var(--sm) var(--lg);
    }

    &__logo {
        display: block;
        height: 2rem;
        width: 2rem;
        padding: var(--xs);
        background-color: var(--primary);
        transform: scale(1);
        transition: transform 100ms ease;
        margin-right: var(--sm);

        @include m.media(desktop) {
            height: 3rem;
            width: 3rem;
        }
    }

    &__welcome {
        display: none;
        visibility: hidden;
        margin-right: auto;
        font-size: var(--text-reg);
        letter-spacing: 1.5px;
        color: var(--primary);
        font-weight: 700;

        @include m.media(tablet-wide) {
            display: block;
            visibility: visible;
        }
    }
    
    &__logo:hover {
        transform: scale(1.01);
    }

    &__burger {
        background-color: var(--white);
        transition: all 150ms ease;

        &:hover {
            background-color: var(--light);
        }
    }

    &__items {
        display: none;
        @include m.media(tablet-wide) {
            @include m.flex($jus: space-between);
        }
    }

    &__item-link {
        position: relative;
        display: block;
        overflow: hidden;
        background-color: rgba(v.$white, 1);
        border: 2px solid var(--primary);
        color: var(--primary);
        padding: var(--xs) var(--md);
        font-size: var(--text-reg);
        font-weight: 700;
        text-transform: capitalize;
        transition: all 150ms ease-in-out;
    }

    .nav__icon {
        font-size: var(--text-nav-icon);
        position: absolute;
        left: 7%;
        color: rgba(v.$dark, 0.1);
        transition: all 150ms ease-in-out;
    }

    &__item-link:hover {
        background-color: rgba(v.$primary, 1);
        color: var(--white);
    }

    &__item-link:hover .nav__icon {
        color: rgba(v.$dark, 0.6);
    }

    &__item:nth-of-type(2) {
        margin-left: var(--sm);
    }
}

.sidebar {
    @include m.absolute();
    @include m.flex($dir: column);
    top: 0.2rem;
    width: 0;
    height: calc(100vh - 0.2rem);
    opacity: 0;
    visibility: none;
    z-index: 1;
    background: linear-gradient(180deg, var(--primary), var(--light));
    transition: opacity 100ms ease-in-out,
                width 200ms ease-out;
      

    &.open {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    &__burger {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: var(--primary);
        border: 2px solid var(--white);
        transition: all 150ms ease;

        &:hover {
            background-color: rgba(v.$dark, 0.6);
        }

        &--span,
        &--span:before,
        &--span:after {
            background-color: var(--white);
        }
    }
    
    &__items {
      margin-top: var(--md);
      display: none;
      @include m.media(mobile-landscape) {
        @include m.flex($jus: space-evenly);
        margin-top: var(--sm)
        }

        &.open {
            display: flex;
        }
    }

    &__item {
        background-color: var(--primary);
        text-align: center;
        text-transform: capitalize;
        margin-top: var(--md);
        transition: all 150ms ease;
        @include m.media(mobile-landscape) {
            margin-top: var(--sm);
            }

        &:hover {
            background-color: rgba(v.$dark, 0.5);
        }
    }

    &__link {
        font-size: var(--text-links);
        color: var(--light);
        padding: var(--sm) var(--md);
        font-weight: 700;
        display: block;
        width: 100%;
        height: 100%;
        @include m.media(mobile-landscape) {
            padding: var(--xs) var(--sm);
            }
    }

    .social__items {
        @include m.flex($jus: space-evenly);
        width: 30%;
    }

    .social__icon {
        color: var(--white);
    }
}

.hero {
    font-size: var(--text-hero);
    text-transform: uppercase;
    color: var(--dark);
    @include m.flex($dir: column, $align: flex-start, $jus: center);
    padding: 0 var(--sm);
    height: 85vh;
    
    @include m.media(tablet-wide) {
        @include m.flex($dir: column, $align: flex-end, $jus: center);
    }

    &__wrapper {
        @include m.absolute;
        background-image: url("../public/images/hero/hero.png");
        background-position: center center;
        background-size: cover;
        width: 90%;
        margin-left: -45%;
        left: 50%;
        height: 100vh;
        z-index: -1;
        
        @include m.media(tablet-wide) {
            background-position: top 20% center;
            left: 34%;
        }
    }

        @include m.media(tablet-wide) {
            padding: 0 var(--lg);
        }

    &__header {
        font-size: 0.8em;
        text-shadow: 1px 1px 1px rgba(v.$dark, 0.3);
        
        &--clr {
            font-size: 1.4em;
            color: var(--primary);
            font-weight: 700;
        }
    }
    
    &__header--sm {
        font-size: 0.7em;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(v.$light, 1);
    }
    
    &__btn {
        margin-bottom: var(--md);
        font-size: var(--text-reg);
        color: var(--white);
        background-size: 250% 250%;
        background-color: var(--primary);
        border: 2px solid var(--primary);
        transition: all 150ms ease;
        @include m.media(tablet-wide) {
            margin: var(--sm) 0;
        }

        &:hover {
            background-color: var(--white);
            color: var(--primary);
        }
    }

}

.cases {
    position: relative;
    padding: var(--lg) 0;
    margin: 0 var(--sm);
    border-left: 1px solid rgba(v.$dark, 0.1);
    border-right: 1px solid rgba(v.$dark, 0.1);
    background-color: var(--white);
    transition: background-color 300ms ease-in-out;

    &__header {
        font-size: var(--text-case-sm);
        text-transform: uppercase;
        padding-left: var(--sm);
        color: var(--primary);
    }

}

/* about section */
.wrapper {
    &.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        overflow-y: scroll;
        transition: all 200ms ease-in-out ;
        background-color: transparent;

        @include m.media(tablet-wide) {
            transition: all 0ms ease-in-out 300ms;
        }
    }
        
}

/* contact form */
.contact,
.about {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    padding: var(--sm);
    border: 1px solid var(--light);

    @include m.media(tablet) {
        padding: var(--md);
    }

    @include m.media(tablet-wide) {
        width: 45vw;
    }

    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
    }

    &__header {
        text-transform: uppercase;
        font-size: var(--text-links);
    }

    &__image {
        height: 5rem;
        width: 5rem;
    }
}

.about {
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 60vh;
    min-height: max-content;
    background: var(--white);
    overflow-x: hidden;
    @include m.media(mobile-landscape) {
        height: 100vh;
        }

    @include m.media(tablet-wide) {
        height: 90vh;
        top: 5vh;
        left: 5vw;
    }

    &__header {
        padding-left: var(--sm);
        border-left: 3px solid var(--dark);
        font-size: var(--text-reg);
        color: rgba(v.$dark, 0.6);
    }

    .case__stack-items {
        list-style: none;
        @include m.flex($jus:space-evenly);
    }

    &__info {
        padding: var(--sm) var(--md) 0;
        font-size: var(--text-reg);
    }
}
  
.contact {
    position: absolute;
    top: calc(60vh + 0.2rem);
    right: 0;
    height: max-content;
    background-color: var(--dark);
    color: var(--light);

    @include m.media(mobile-landscape) {
        top: calc(100vh + 0.2rem);
        }
    
    @include m.media(tablet-wide) {
        height: 90vh;
        top: 5vh;
        right: 5vw;
    }
    
    &__header {
        padding-right: var(--sm);
        border-right: 3px solid var(--secondary);
        font-size: var(--text-reg);
        color: rgba(v.$light, 0.9);
        text-align: end;
    }
    
    &__info {
        padding: var(--sm) var(--md) 0 0;
        font-size: var(--text-reg);
        display: block;
        text-align: end;
        position: relative;
    }

    &__info--copy {
        color: rgba(v.$primary, 0.7);
        background-color: transparent;
        cursor: pointer;

        &:before {
            @include m.pseudo($content: "Copy to clipboard", $disp: none);
            top: -0.5rem;
            right: 8.1rem;
            width: 6rem;
            color: var(--dark);
            padding: 0.2rem;
            border-radius: var(--rad-sm);
            background-color: var(--light);
            font-size: 0.7rem;
            text-align: center;
            transition: font-size 150ms ease-in-out;
        }

        &:hover,
        &:focus {
            color: rgba(v.$primary, 0.9);
        }

        &:hover:before {
            display: block;
        }

        &:active,
        &:focus {
            &:before {
                content: "Copied!";
            }
        }
    }

    &__wrapper {
        @include m.flex($dir: column);
        
        @include m.media(tablet) {
            @include m.flex($dir: row, $jus: space-evenly);
        }
    }

    .form {
        width: 100%;
        font-size: var(--text-reg);

        &__label {
            margin: var(--xs) 0;
            display: block;
            text-transform: capitalize;
        }

        &__input {
            @include m.flex($dir: column);
            background-color: transparent;
            border-bottom: 1px solid var(--light);
            color: var(--light);
            width: 100%;
            padding: var(--xs);
            outline: none;
            transition: all 100ms ease-in-out;
        }

        &__input:focus {
            background-color: rgba(v.$dark, 0.5);
            border-bottom: 1px solid var(--secondary);
        }

        &__input:valid {
            border: 1px solid var(--primary);
        }

        .input--pad {
            padding: var(--sm);
        }

        &__submit {
            width: 40%;
            border: none;
            background-color: rgba(v.$primary, 0.8);
            transition: background-color 150ms ease;
            
            &:hover {
                background-color: rgba(v.$primary, 1);
            }
        }
    }
}

/* footer */
.footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: var(--sm);
    font-size: var(--text-reg);

    .social__items {
        @include m.flex($dir: column, $jus: space-evenly);
    }

    .social__link {
        color: var(--light);
        display: block;
        width: 50vw;
        position: relative;
    }

    .social__item {
        margin-bottom: var(--xs);
    }

    .social__icon {
        font-size: var(--text-icon);
        display: block;
        width: 5rem;
        margin: auto;
    }
    
    &__info {
        font-size: 1.1em;
        color: var(--primary);
        text-transform: capitalize;
    }

    &__email {
        display: block;
        font-size: 0.8em;
        color: rgba(v.$light, 0.6);
    }
}
